.task-container {
  border: 1px dotted pink;
  list-style: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.task-item {
  color: #c29825;
  border-radius: 5px;
  margin: 20px;
  border: solid 2px #453131;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
