.boton {
  border: transparent;
}
.boton input {
  border: transparent;
}
.img {
  width: 10%;
  height: 40%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
